echo "
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
env/
venv/

# VS Code
.vscode/

# macOS files
.DS_Store

# Environment variables
.env
" > .gitignore

